Incomplete AAR header is generated if there is no own AR header.

In signing mode, if a message does not have Authentication-Results: header with same authserve-id, openarc milter generates incomplete ARC-Authentication-Results: header such as:
```
ARC-Authentication-Results: i=1; somehost.example.org
```

According to [RFC8601 Section 2.2](https://www.rfc-editor.org/rfc/rfc8601.html#section-2.2),  authres-payload should have at least one res info or exact one no-result.  So the above should be:
```
ARC-Authentication-Results: i=1; somehost.example.org ; none
```
