openARC handles Authentication-Results parsing badly, and thus ignores valid auth headers.

Various RFC-compliant DKIM and ARC softwares produce headers that OpenARC does not understand. I've tracked down the issue to lack of RFC compliance in OpenARC header parsing. This issue report provides a few sample headers that OpenARC doesn't like, then describes the challenge in some specificity.

**SUMMARY OF TWO KEY PARSE ISSUES**
1) OpenARC doesn't parse CFWS whitespace properly (Folding White Space and Comments.) This ABNF is ubiquitous in key headers.
2) OpenARC doesn't parse AuthServe-ID as dot-atom - appears to assume it is FQDN?
3) OpenARC appears not to handle the AAR header produced by Microsoft. (I am honestly not sure if this is compliant ;) )

**SAMPLES CAUSING TROUBLE** (ALL are RFC-compliant headers)
1) Produced by OpenDKIM on my own server. _(Problem: the comment is standard CFWS and breaks parsing)_
   ```Authentication-Results: my.dom.ain;
	dkim=pass (1024-bit key; unprotected) header.d=their.dom.ain header.i=@their.dom.ain header.a=rsa-sha256 header.s=1000073432 header.b=eKmreZ4p;
	dkim-atps=neutral
   ```

2) Produced by DKIM on a popular hosting service (not sure what SW they use) (Problem: the AuthServe-ID is dot-atom)
   ```ARC-Authentication-Results: i=1;
	rspamd-786cb55f77-65p7t;
	auth=pass smtp.auth=sample-host smtp.mailfrom=user@dom.ain
   ```
  
3) Produced by Microsoft.com (I suspect the issue is the extra " 1" after mx.microsoft.com. Not sure what this is! Is it possible MS is non-compliant??)
   `ARC-Authentication-Results: i=1; mx.microsoft.com 1; spf=pass smtp.mailfrom=dom.ain; dmarc=pass action=none`

etc.

**DISCUSSION OF THE ISSUE**
AFAIK (from experience -- see above -- and code examination), OpenARC parsing is not RFC-compatible with CFWS. What's that?

(ARC-)Authentication-Results header definition ABNF make many references to RFC 5322 CFWS -- Folding White Space and Comments -- which is essentially folded white space plus any amount of [ \t\n] white space plus optional, nestable, () comments which can contain any text at all other than "(", ")" or "\\".

Here are ABNF references in the RFC's:
* [CFWS in RFC 5322](https://www.rfc-editor.org/rfc/rfc5322#section-3.2.3)
* [Authentication-Results in RFC 5451](https://www.rfc-editor.org/rfc/rfc5451#section-2.2)
* [ARC-Authentication-Results in RFC 8617](https://www.rfc-editor.org/rfc/rfc8617.html#section-4.1.1)

As a dev, that sounds complex to me. I searched for some help towards a functioning implementation. To get us started, here is a regexp definition for CFWS, extracted from http://www.watersprings.org/pub/id/draft-seantek-mail-regexen-01.html#rfc.section.3.2
```
(?(DEFINE)
 (?<FWS>(?:[\t ]*\r\n)?[\t ]+)
 (?<CFWS>(?:(?&FWS)?(?&comment))+(?&FWS)?|(?&FWS))
 (?<ctext>[!-'*-\[\]-~])
 (?<ccontent>(?&ctext)|(?&quoted_pair)|(?&comment))
 (?<comment>\((?:(?&FWS)?(?&ccontent))*(?&FWS)?\))
 (?<quoted_pair>\\[ -~])
)
```


NOTE: openDKIM verification _also_ parses Authentication-Results badly in the same way. I'm tired... gotta sleep...

Hi @MrPeteH - I wondered if you ever got to the bottom of any of this? I have done some limited testing, and I am also finding that ARC signatures from Microsoft.com are showing as failed (the only other ones I have tried are Gmail, and they seem to be passing).

@abeverley This issue is unlikely to cause signature verification failures; you're more likely to be hitting #121, because Microsoft does not include the optional `t` tag in their signatures. 

Brilliant, thanks @flowerysong that has indeed fixed that problem :-) I'm now finding that although the messages are passing ARC at my end, the ARC signature that I am creating is showing as failed at the receiving end (only for the same Microsoft emails). This is a different problem though so I will continue investigating (I'm trying some of the other PRs, but no luck yet).

@abeverley I've proven that it IS an issue... someone needs to write some code to fix it. I will eventually get around to that, but I don't have spare Round Tuits these days... my 23 year coworker suddenly passed away last June and I've been scrambling ever since.

Having [recently touched the Authentication-Results code](https://github.com/flowerysong/OpenARC/commit/52b28e96612e470e06c70f710a3193950161b454), I found a number of other issues with it but can't see any sign that this report is correct.

```
 dkim=pass (1024-bit key; unprotected) header.d=their.dom.ain header.i=@their.dom.ain header.a=rsa-sha256 header.s=1000073432 header.b=eKmreZ4p;
 dkim-atps=neutral
```
This was parsed correctly by the unmodified upstream code, which handles CFWS fine. It was unclear whether you meant that this was the entire header, so for testing I added an authserv-id. If this is in fact the entirety of the header, it is *not* RFC compliant and a parsing failure should be expected.
```
 rspamd-786cb55f77-65p7t;
 auth=pass smtp.auth=sample-host smtp.mailfrom=user@dom.ain
```
This was also parsed correctly.

Without more information (like what behaviour you saw that led you to believe that they were not being parsed correctly) there's not anything actionable in this report.

I've noticed a similar one, using develop branches of OpenDKIM/OpenDMARC/OpenARC

Microsoft adds the following :

ARC-Authentication-Results: i=1; **mx.microsoft.com 1;** spf=pass smtp.mailfrom=xxxx.com.au; dmarc=pass action=none header.from=xxxx.com.au; dkim=pass header.d=xxxx.com.au; arc=none

This causes a Parse Error in the mailer logs as there is a stray " 1" before the terminating ; in the mailer name, if I do a hack with a postfix header rewrite on "ARC-Authentication-Results: i=1; mx.microsoft.com 1; ..." to "ARC-Authentication-Results: i=1; mx.microsoft.com;" the parse error goes away, as a diagnostic to check parsing, not a fix, as it breaks signatures. Not sure this is fixable in code, as it's being embedded in Microsoft's signature.

( To get this far I've also removed also the incoming non-parsable AuthenticationResults (missing mailer name) microsoft generate without the mailer name required by standards, and let my inbound signing chain built a fresh one. )

The ARC-Authentication-Results above seems to be happily ignored by opendmarc

Jun 13 06:47:15 mail opendmarc[73766]: 9DBAF80ACE: ignoring invalid ARC-Authentication-Results header "i=1; mx.microsoft.com 1; spf=pass#012 smtp.mailfrom=xxxx.com.au; dmarc=pass action=none#012 header.from=xxxx.com.au; dkim=pass header.d=xxxx.com.au; arc=none"

( the pass#012 is a syslog artefact of the soft break in the headers, rsyslogd escaping the soft break )
