According to [RFC 5322 section 2.1.1.](https://www.rfc-editor.org/rfc/rfc5322#section-2.1.1) each line of characters MUST be no more than 998 characters, and from the description about field name [section 2.2.](https://www.rfc-editor.org/rfc/rfc5322#section2.2) filed names cannot be folded.

So we can use lesser limit value than ARC_MAXHEADER for the restriction `arc_parse_header_field()` for enforcing RFC5322 section 2.1.1. (and can reduce the size of buffers for header field name, if we need to do so).