OpenARC produces invalid Authentication-Results

OpenARC produces invalid `Authentication-Results` headers:

    Authentication-Results: mail.example.com; arc=none smtp.remote-ip=2604:8d00:0:1::3

This header is syntactically invalid. The `pvalue` production does not allow bare colon characters, so here the IP address must be encoded as a `quoted-string`. The same lack of quoting appears in other `pvalue`s as well. For the BNF see RFC 8601, section 2.2 and RFC 2045, section 5.1.

The correct syntax is:

    Authentication-Results: mail.example.com; arc=none smtp.remote-ip="2604:8d00:0:1::3"
